.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding: 0px 20px;
}
.navi_items_container {
    display: flex;
    align-items: center;
    gap: 46px;
    list-style-type: none;
    padding: 0px;
    font-family: 'Open Sans, Regular';
    font-weight: 500;
    color: #404040;
}

.date {
    border-radius: 100%;
}

@media (max-width: 767px) {
    .header_container {
        height: 50px;
    }
    .hide_menu {
        display: none;
    }
    .menu_icon{
        order: -1;
    }
    .hide_nav_card{        
        display: flex;
        list-style: none;
        border-radius: 2px;
        padding: 5px;
        font-size: 12px; 
        gap:15px;
    }
}